@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gilroy', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
